# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build Output
dist/
build/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
Thumbs.db
EHthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# DB data folder (if kept inside root)
mongodb-data/
msi_log.txt
